.navbar-header img{
	width:50px;
}

#slide1{
	filter:brightness(3);
}

#slide2{
	filter:grayscale(1);
}

.navbar-form a{
	margin:10px;
}

/*Wheter sector*/

.weather-panel .temp {
    font-size: 100px;
    margin: 0px;
    line-height: 100px;
}

.weather-panel .supersmall {
    font-size: 9px;
    margin-top: 0px;
}

.weather-panel .col-sm-6 {
    text-align: center;
}
	
/*Footer*/

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
.bg-lightgray
{
    background-color:LightGray;
	
}
.copyrights img{
	width:90px;
	margin-top:25px;
	margin-left:50px;
	transform:rotate(-20deg);
	box-shadow: 0 0 5px 5px grey; 
}

.copyrights p{
	margin-top:25px;
	margin-left:50px;
	text-align: left;
}

.social {	
	margin-top:25px;
	width:40px;
	height:40px;
	margin-right:10px;
	color:grey;
	border: 1px solid grey;
	box-shadow: 0px 0px 2px 2px white;
}

.social:hover {
	box-shadow: 0px 0px 5px 5px grey;
}

/*Animation*/
.map {
	position: relative;
    overflow: hidden;
    max-width: 1200px;
    height: 675px;
    margin: 0 auto;
    background:url("https://s12.postimg.org/e05ecqmhp/0rn_Bl_croper_ru.jpg") no-repeat center;
    background-size: cover;
}

.airplane img{
    position: absolute;
    width: 100px;
    height: 100px;
    animation: fly 5s infinite linear;
}

		
@keyframes fly {
    0% {
                
		transform: translate(0, 0);
        }
	25% {
                
		transform: translate(204px, 169px);
		
        }
		
    50% {
        transform: translate(407px, 337px) scale(2);
		
        }
			
	75% {
        transform: translate(611px, 506px);
		
        }
			
	100% {
        transform: translate(815px, 675px);
		
        }
}
		
@media screen and (max-device-width: 767px) {
    .animation_sun{
		display:none;
	}
}
		